<p class="gapPadding"></p>
<div *ngIf="showLoader" class="mt-5 text-center">
    <img class="Video-Loading" src="./assets/loading.gif" />
</div>

<div class="container">
    <div class="row text-center text-lg-start">
        <div class="col-lg-3 col-md-4 col-6 pt-2 main-div" *ngFor="let data of AllPhotoData">
            <button (click)="clickOnPhoto(data.id, data.caption, data.description)" type="button" class="border-0"
                data-bs-toggle="modal" data-bs-target="#myModal">
                <a class="d-block mb-1">
                    <div class="ratio ratio-4x3">
                        <video class="embed-responsive-item video-tab-class" [id]="data.id" [src]="data.raw_data" alt=""
                            controls height="150">
                        </video>
                    </div>
                </a>
                <figcaption class="figure-caption-desc">
                    <b>Description:</b> This is a video description is for testing purpose
                </figcaption>
                <figcaption class="figure-caption">
                    <b>Caption:</b> {{data.caption}}
                </figcaption>
            </button>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" data-dismiss="modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>
                <video [src]="imgSrcData" class="embed-responsive-item" style="width: 100%;" controls></video>
                <figcaption class="figure-caption">
                    <b>Caption:</b> {{imgCaption}}
                </figcaption>
                <figcaption class="figure-caption">
                    <b>Description:</b> {{imgDescription}}
                </figcaption>
            </div>
        </div>
    </div>
</div>

<!--<div class="row text-center text-lg-start">
    <div class="col-lg-2 col-md-4 col-6" *ngFor="let data of AllPhotoData">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail Image-Gallery" [src]="data.raw_data" alt="">
        </a>
    </div>
</div>-->