.gapPadding {
    padding-top: 3em;
}
@media screen and (max-width: 991px) {
    .video-tab-class {
      float: none;
      width: 100%;
    }
    /*.main-div {
      object-fit: cover !important;
      width: 100% !important;
        width:fit-content !important;
        box-sizing: content-box !important;
        
    }
    .ratio {
        
    }*/
}

.video-tab-class{
    width:100%;
    height:100%;
}

.Video-Loading {
    width: 350px;
    height: fit-content;
}

figcaption {
    text-align: left !important;
}

.figure-caption-desc {
    font-size: xx-small;
    color: #f1f0f0;
}