<div class="container">

    <!-------------------------Photos-------------------------->
    <h1 class="fw-light text-center text-lg-start mt-4 mb-0 photo-gallery">Photo Gallery</h1>

    <hr class="mt-2 mb-3">

    <div class="row text-center text-lg-start">

        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100" (click)="onClick()">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/pWkk7iiCoDM/500x300" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/aob0ukAYfuI/400x200" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/EUfxH-pze7s/600x400" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/sesveuG_rNo/50x50" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/sesveuG_rNo/800x800" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a routerLink="/Photos" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail Image-Gallery" src="assets/ViewAll.png" alt="">
            </a>
        </div>

    </div>

    <!-------------------------Videos-------------------------->
    <h1 class="fw-light text-center text-lg-start mt-3 mb-0">Videos Gallery</h1>

    <hr class="mt-2 mb-3">

    <div class="row text-center text-lg-start">


        <div class="col-lg-4 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                    allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TwsBRM3TU7Y"
                    allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z08b_JUceIA"
                    allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                    allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TwsBRM3TU7Y"
                    allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-6">
            <a routerLink="/Videos" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail VideoViewAll" src="assets/ViewAll.png" alt="">
            </a>
        </div>

    </div>
    <!--------------------Note And Stories--------------------->

</div>